@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
	box-sizing: border-box;
	margin: 10px;
}

body {
	padding: 0;
	text-align: center;
	font-family: 'Outfit', sans-serif;
	word-spacing: 1.5px;
	letter-spacing: 0.4px;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: hsl(217, 54%, 11%);
	margin-top: 0;
	margin-bottom: 0;
}

a {
	color: hsl(228, 45%, 44%);
	text-decoration: none;
	color: hsl(0, 0%, 100%);
}

.content {
	display: grid;
	justify-content: center;
	align-items: center;
	margin-left: 35.5%;
	margin-right: 35.5%;
	margin-top: 0;
	margin-bottom: 0;
	background-color: hsl(216, 50%, 16%);
	border-radius: 12px;
}

.header {
	display: grid;
	align-items: center;
	justify-content: center;
	margin: 0;	
}

/*-------------------------------------*/

.recover {
	top: 10.5%;
	border-radius: 7px;
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.5s ease;
	background-color: hsl(178, 100%, 50%, 0.3);
	max-width: 320px;
	max-height: 320px;
}
.header:hover .recover {
	opacity: 1;
}
.recover img {
	margin: 0;
	padding: 0;
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

/*-------------------------------------*/

.image-place {
	margin: 0;
	justify-content: center;
	align-items: center;
	display: flex;
}

.header p {
	color: hsl(215, 51%, 70%);
	opacity: 1;
	font-weight: 300;
	text-align: left;
	margin-left: 20px;
}

.img-equilibrium {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}

.header .img-equilibrium img {
	max-width: 320px;	
	display: flex;
	justify-content: center;
	align-items: center;	
	border-radius: 7px;	
}

.equilibrium{
	text-align: left;
	display: flex;
	font-size: 18px;
	margin-left: 20px;
	margin-top: 20px;
}

.equilibrium:hover {
	color: hsl(178, 100%, 50%);
}

.main {
	justify-content: space-between;
	display: flex;
	margin-left: 6%;
	margin-right: 3%;
}

.main .ethereum, .main .clock {
	display: flex;	
	align-items: center;
	margin: 0;
}

.main .ethereum a {	
	color: hsl(178, 100%, 50%);
	font-weight: 400;	
	padding-left: 6px;
}

.main .ethereum, .main .ethereum img, .main .ethereum a,
.main .ethereum, .main .clock img, .main .clock a {
	margin: 0;
}

.clock p {
	color: hsl(215, 51%, 70%);
}

.footer {
	display: flex;
	align-items: center;
	margin-top: 5px;
	margin-bottom: 10px;
}

.footer img {
	width: 10%;
	border: 1px solid white;
	border-radius: 100%;
}

.footer p {
	color: hsl(215, 51%, 70%);
	margin: 0;
}

.footer a:hover {
	color: hsl(178, 100%, 50%);
}

.footer a {
	text-align: end;	
}

hr {
	opacity: 0.15;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 0;
	margin-bottom: 0;
}

/*------------------*/
@media screen and (max-width: 700px){
	.recover {
		top: 28px;
		height: 53%;
		width: 51%;
	}
	.content {
		margin-left: 20%;
		margin-right: 20%;
	}
}


@media screen and (max-width: 600px){
	.recover {
		top: 43px;
		height: 50%;
		width: 51%;
	}
	.header .img-equilibrium img {
		max-width: 300px;
	}
	.header p {
		font-size: 12px;
	}
	.content {
		margin-left: 10%;
		margin-right: 10%;
	}
}

@media screen and (max-width: 500px){
	.recover {
		top: 43px;
		height: 49%;
		width: 62%;
	}
	.header .img-equilibrium img {
		max-width: 300px;
	}	
	.header p {
		font-size: 12px;
	}
	.content {
		margin-left: 10%;
		margin-right: 10%;
	}
}

@media screen and (max-width: 400px){
	.recover {
		top: 43px;
		height: 49%;
		width: 79%;
	}
	.header .img-equilibrium img {
		max-width: 300px;
	}
	.header p {
		font-size: 12px;
	}
	.content {
		margin-left: 5%;
		margin-right: 5%;
	}
}

@media screen and (max-width: 380px){
	.header .img-equilibrium img {
		max-width: 280px;
	}
	.recover {
		top: 56px;
		height: 45.5%;
		width: 80%;
	}
}

@media screen and (max-width: 350px){
	.header .img-equilibrium img {
		max-width: 260px;
	}
	.recover {
		top: 65px;
		height: 43%;
		width: 85%;
	}
}